<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>T&T software | IT Consuling</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" />
    <!-- =======================================================
        Theme Name: Company
        Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
        Author: BootstrapMade
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="/index"><h1><span>T&T </span>Softwares</h1></a>
                        <!--<h4 class="h4t">If not now Then when </h4>-->
                    </div>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="/index" >Home</a></li>
                            <li role="presentation"><a href="/about" class="active">About Us</a></li>
                            <li role="presentation"><a href="/services">Services</a></li>
                            <li role="presentation"><a href="/portfolio">Portfolio</a></li>
                            <li role="presentation"><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="/index">Home</a></li>
            <li>About Us</li>
        </div>
    </div>
</div>

<div class="aboutus">
    <div class="container">
        <h3>Our company information</h3>
        <hr>
        <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <img src="images/7.jpg" class="img-responsive">
            <h4>We Create, Design ,Develop and Make it Real</h4>
            <p>Having all expertise together from diffrent techology and Domain in one platform helps us to over come the problems
                and helps T&T to develop application by making a sandwich of diffrent techology and deploy to the client as per his demand.
                 </p>
            <p>T&T brings all together the techolgy and make it happen by giving a stable product.</p>
        </div>
        <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="skill">
                <h2>Our Skills</h2>
                <p>Creative thinking - in terms of idea creativity - is not a mystical talent. It is a skill that can be practised and nurtured.</p>

                <div class="progress-wrap">
                    <h3>Java</h3>
                    <div class="progress">
                        <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="bar-width">88%</span>
                        </div>

                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>MEAN Stack</h4>
                    <div class="progress">
                        <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            <span class="bar-width">95%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>Selenium</h4>
                    <div class="progress">
                        <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="bar-width">80%</span>
                        </div>
                    </div>
                </div>

                <div class="progress-wrap">
                    <h4>DataBase</h4>
                    <div class="progress">
                        <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <h3>Ruby on rails</h3>
                    <div class="progress">
                        <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="bar-width">85%</span>
                        </div>

                    </div>
                </div>
                <div class="progress-wrap">
                    <h4>PHP & Wordpress</h4>
                    <div class="progress">
                        <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-team">
    <div class="container">
        <h3>Our Team</h3>
        <div class="text-center">
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="images/services/mac.jpg" alt="" >
                <h4>Mac</h4>
                <p>I am mac ,i am sun certified java programer and
                    i have 6+ year of experience as java developer and architecture design of java,hibernate &
                    spring frame work and 3+ experience as Mean stack developer.</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <img src="images/services/roy.jpg" alt="" >
                <h4>Roy</h4>
                <p>I am roy i have 4+ year of experience as Mean stack developer and setting Mean.js architecture.
                    I have worked on several projects including node.js,express.js,API,Angular-2.</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="images/services/novneet.jpg" alt="" >
                <h4>D Rodger</h4>
                <p>I am D Rodger i have 4+ experience in Php Mvc,Laravel,Cake PHP,yii2 and Angular js.
                    I have worked on several project such as eduPro application ,E-Commerce and website developement.</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="images/services/novneet.jpg" alt="" >
                <h4>novneet</h4>
                <p>I am novneet i have 3+ experience in ruby on rails and 1+ experience in angular 1.6.
                I have worked on several project such as e-commerce application ,Time and Management system.</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="images/services/ayu.jpg" alt="" >
                <h4>Ayushman</h4>
                <p>I am Ayushman i have 2+ experience as Mean stack developer.I have developed web application using node.js,express.js,mongodb and angular 1.6 .</p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="images/services/tonny.jpg" alt="" >
                <h4>Tonny</h4>
                <p>I am Tonny i have 2+ experience as Mean stack developer and database
                   I have worked on several web application projects using mongodb,mysql,angular 2,express.js </p>
            </div>
            <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                <img src="images/services/avi.jpg" alt="" >
                <h4>Avhi</h4>
                <p>I am Avhi i have 3+ experience as PHP developer and in wordpress.
                    I have developed edupro on php which manage the school by its featues.I have a good exprience in CSS,HTML and Bootstrap.
                </p>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <div class="container">
            <div class="social-icon">
                <div class="col-md-4">
                    <ul class="social-network">
                        <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" class="ytube tool-tip" title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="copyright">
                    &copy; © 2017 T&T Softwares. All Rights Reserved.
                    <div class="credits">
                        <!--
                            All the links in the footer should remain intact.
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Company
                        -->
                       <!-- <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-2.1.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>


</body>
</html>